{
  "parserOptions": {
      "ecmaVersion": 11,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "modules": true,
          "experimentalObjectRestSpread": true
      }
  },
  "plugins": [
      "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
  "rules": {
      "comma-dangle": 0,
      "react/react-in-jsx-scope": "off",
      "no-undef": "off"
  },
  "settings": {
      "react": {
          "pragma": "React",
          "version": "17.0.1"
      }
  }
}